body {
  margin: 0px;
  background-color: pink;
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color:hotpink;
}

}
#content,#album,#info{
  float:left;
}
#content{
  border: dotted 2px pink;
  width:50%;
}
#album{
  border:dotted 2px purple;
  width:30%
}
#info{
  border:dotted 2px lightblue;
  max-width:19%;
}

#player button{
  float:left;
}
#player audio::-webkit-media-controls-play-button {
  dispkay:none;
}
#play audio::-webkit_media-controls-panel {
  display:none
}
#player audio{
  height:1em;
}
#banner{
  max-width:100px;
}

#info img{
  max-width: 80%;
  margin: auto;
  display: block;
}
a{
  color:white;
  text-decoration:none;
}
