#image{
  z-index:-999;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
}

body{
  margin:0;
  text-align: center;
  background-color:pink;
  //background-image: url(https://marketplace.canva.com/EAGDySO5djc/1/0/900w/canva-brown-watercolor-abstract-wallpaper-background-your-story-g_eroZwhOcs.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repear: no-repeat;
  background-blend-mode: lighten;
}
#to-do-list{
  list-style-type:none;
}
