body{
  margin: 0;
  padding: 0;
    
}

.square{
  float: left;
  border: dotted purple 3px;
  width: 30vw;
  font-size: xxx-large;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#winner {
  display: none;
  postion: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  background-color: rgba(0 ,0 ,0 , 0.5);
  padding: 2em;
  
}

#winner div {
  margin: auto;
  text-align: center;
  background-color: purple;
  color: white;
  font-size: xx-large;
  padding: 2em;
}
