body{
  margin: 0;
  padding: 0;
    
}

.square{
  float: left;
  border: dotted purple 3px;
  width: 30vw;
  font-size: xxx-large;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#winner {
  display: none;
}
