body {
  /" background-color: #f99fc4;"/
  color: black;
  text-align: left;
  font-family: Mons Sans;
  margin-left: 10%;
  margin-right: 10%
}
#bg{
  width:100vw;
  height:100vw;
  z-index:-999;
  position: fixed;
  top:0px;
  left:0px;
}

.heading{
  font-family:'Roborto'cursive;
  text-align: center;
  font-size: 200%;
  color: white;
  text-shadow: #CD5C5C 2px 2px;
}


h2.heading{
  font-family:'Roborto'cursive;
  text-align: center;
  font-size: 200%;
  color: white;
  text-shadow: #CD5C5C 2px 2px;
  font-size:200%;
}


.bordered{
  border-style: dotted;
  border-color: white;
  border-width: 3px;
  padding: 5px;
  border-radius:15px;
  margin:5px;
  background-color:pink;
  color:#943126
}


a {
  text-decoration:none;
  font-weight: 700;
  color: white;
}

a:hover, a:visited {
  color:#641e16;
}

hr{
  height: 2px;
  border: 0px;
  background-color:#641e16;
  
}

#footer {
  font-size: 120;
  text-align: center;
  
  
}
